@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 30px;
}

.cat-info {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
}

.cat-card {
  margin-left: 20px;
}

.cat_name {
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.loader {
  font-size: 25px;
  color: forestgreen;
  font-weight: bold;
}

img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
